<div class="img-container">
    <img alt="Question mark" src="src/assets/images/store/question_mark.png"/>
</div>

<div class="tier-bar">
    <div class="tiers">
        <div class="tier">
            <p class="tier-tag">T1</p>
            <div class="pole"></div>
        </div>

        <div class="tier">
            <p class="tier-tag">T2</p>
            <div class="pole"></div>
        </div>

        <div class="tier">
            <p class="tier-tag">T3</p>
            <div class="pole"></div>
        </div>
    </div>
    <div class="green-bar"></div>
</div>

<div class="fusion-pokemon-select-box">
    <div class="fusion-selected-pokemon">
        <p>Charmender</p>
        <img src="../../../../assets/images/battle/pokemon1.png" alt="">
        <p>Level 6</p>
    </div>
</div>

<div class="action-buttons">
    <button>Cancel</button>
    <button>Fuse</button>
</div>
