<div class="main-container">
    <div class="container">
        <div class="fusion-tag tag">Fusion</div>
        <div class="item-tag tag">Purchase Items</div>
        <div class="selected-tag tag">Selected Item</div>

        <div class="fusion-box box">
            <app-fusion></app-fusion>
        </div>
        <div class="search-tag tag">Search...</div>
        <div class="item-select box"></div>
        <div class="purchase-box box"></div>

        <div class="most-purchased-tag tag">Popular items</div>
        <div class="most-purchased-box box"></div>
    </div>

    <app-navigation></app-navigation>
</div>