<div class="main-container">
    <div class="tut-container">
        <h1>Rules & Help</h1>
        <div class="item-container">
            <div class="item1">
                <h2>Battle</h2>
                <div class="item-info">
                    <h3>General</h3>
                    <p>
                        The battle is a turn based scenario in which a player can fight another player in a 1v1 battle
                        using Pokemons to battle each other.
                    </p>
                    <br>
                    <h3>Where can you battle</h3>
                    <p>
                        You can start or search for a match by going to the battle page via the home or the side menu.
                        Once there select battle. There you can use the menu to either find, join or create a match.
                        When creating a match you can select your turn timer and the amount of pokemons you wish to battle with.
                    </p>
                    <br>
                    <h3>Start of the match</h3>
                    <p>
                        When a battle starts the first Pokemon in your party gets selected. When its your turn you can select
                        3 options; Attack, select diffrent pokemon or surrender.
                    </p>
                    <br>
                    <h3>Attacking</h3>
                    <p>
                        When you select Attack your Pokemon will use its turn to damage the enemy pokemon. The damage
                        is calculated usings the Pokemons attack power minus the enemy pokemons defence power.
                    </p>
                    <br>
                    <h3>Switching Pokemon</h3>
                    <p>
                        choosing to select a different pokemon you get to choose from another Pokemon thats in your Pokemon Party
                        When you select surrender you forfeit the match.
                    </p>
                    <br>
                    <h3>How to Win</h3>
                    <p>The match is either won or lost when you defeat al your opponents Pokemons or the opponent defeats your pokemons</p>
                </div>
            </div>

            <div class="item2">
                <h3>party</h3>
                <div class="item-info">
                    <h3>General</h3>
                    <p>
                       Your Pokemon party is where you select and hold the Pokemons you want to use for match.
                        The first pokemon in your party will be selected first when going into a match
                    </p>
                    <br>
                    <h3>Changes your Party</h3>
                    <p>
                        You can make changes to your party by going to the party page either via Home or the side menu.
                        Once on the party page you change the positioning of your Pokemons and add/remove Pokemons from
                        your party.
                    </p>
                </div>
            </div>

            <div class="item3">
                <h3>Pokedex</h3>
                <div class="item-info">
                    <h3>General</h3>
                    <p>
                        In the Pokedex you can find al the information on every Pokemon in the game. You check its
                        Attack, defence, health and other stats.
                    </p>
                    <br>
                    <h3>Pokedex page</h3>
                    <p>
                        You can find the Pokedex page by either going to homepage and selecting the Pokedex link or
                        or via de side menu
                    </p>
                </div>
            </div>

            <div class="item4">
                <h3>Shop</h3>
                <div class="item-info">
                    <h3>General</h3>
                    <p>
                        In the shop you have the option to exchange currency for new Pokemon that you can add to your roster.
                        Its also possible to transmute duplicate pokemons for a change to get a better Pokemon
                    </p>
                    <br>
                    <h3>Shop page</h3>
                    <p>
                        You can find the shop page via the homepage or the side menu.
                    </p>
                    <br>
                    <h3>Buying Pokemons</h3>
                    <p>
                        When in the shop you can use your Pokecoins to buy pokemon eggs. The Pokemon eggs will hatch into
                        a random Pokemon that you can add to your roster of Pokemons.
                    </p>
                    <br>
                    <h3>Transmute Pokemons</h3>
                    <p>
                        if you have to many duplicate or weak pokemons that you dont want you can use the Transmute options
                        to exchange your selected Pokemons for a change on getting a better Pokemon with Higher stats
                    </p>
                </div>
            </div>
        </div>
    </div>
    <app-navigation></app-navigation>
</div>
