<div class="main-container">
    <div class="login-container">
        <div class="logo-container">
            <img class="logo" src="../../../../assets/images/login/pokemonLogo.png" alt="">
            <img class="pokemon" src="../../../../assets/images/login/Togepi.png" alt="">
        </div>
        <div class="line"></div>
        <form class="login" #resetForm="ngForm" (ngSubmit)="onReset(resetForm)">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    required
                    ngModel
                    name="username"
                    placeholder="..."
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    required
                    ngModel
                    name="password"
                    placeholder="..."
                />
            </div>
            <button
                class="login-button"
                type="submit"
                [disabled]="!resetForm.valid">
                Reset
            </button>
        </form>
    </div>
</div>
