<div class="main-container">
    <div class="party-container">
        <div class="pokemon1">
            <button (click)="select()" id="selectpokemon" class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 1
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </button>
        </div>
        <div class="pokemon2">
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 2
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
        </div>
        <div class="pokemon3">
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 3
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
        </div>
        <div class="pokemon4">
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 4
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
        </div>
        <div class="pokemon5">
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 5
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
        </div>
        <div class="pokemon6">
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 6
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
        </div>
        <div class="storedPokemon">
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 7
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 8
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 9
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 10
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
            <div class="pokemonCard">
                <div class="pokemonImage">
                    <img src="../../../assets/images/battle/pokemon1.png">
                </div>
                <div class="pokemonData">
                    Charmander 11
                    <br>
                    lvl 50
                    <br>
                    54/54
                </div>
            </div>
        </div>
    </div>

    <app-navigation></app-navigation>

</div>
